#  - copy this file to /etc/udev/rules.d directory;
#  - modify 2 paths below: they should match your real path to my-udev-notify.sh

ACTION=="add",    RUN+="/bin/bash 'UDEV_NOTIFY_SCRIPT_PATH'  -a add    -p '%p' -b '$attr{busnum}' -d '$attr{devnum}'"
ACTION=="remove", RUN+="/bin/bash 'UDEV_NOTIFY_SCRIPT_PATH'  -a remove -p '%p' -b '$attr{busnum}' -d '$attr{devnum}'"

